.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .initials {
    color: #ffffff;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.2625px;
  }
}
